body {
  background: #272822;
}

/** =================== **
        Video Div
** =================== **/

.mediaDiv {
  text-align: center;
}
.vid-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

/** =================== **
        Chat_Box
** =================== **/

.chat_box {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  clear: both;
  height: 300px;
  background: #DDDDDD;
  color: white;
  text-align: center;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  width: 100%;
}

.messages_display {
  height: 80%;
  overflow: scroll;
  background: white;
}

.chat_message {
  min-width: 60%;
  padding: 0px 5px;
  display: block;
  border: 1px solid white;
  border-radius: 5px;
}
.me {
  float: right;
  text-align: right;
  background-color: #4582ec;
  font: 16px/18px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.collaborator {
  float: left;
  text-align: left;
  padding-right: 5px;
  padding-top: 3px;
  background-color: #DDDDDD;
  color: #4582ec;
  font: 16px/18px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.messages_box {
  margin: 2px 0px;
  padding: 0px;
}

.messages_box textarea {
  width: 94%;
  font: 16px/18px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid white;
}

.chat_header {
  font-size: 20px;
  font-weight: bold; 
  color: #4582ec;
}

.chat_message > p {
  padding: 10px;
  margin: 2px;
}


.overflowControl {
  margin-top: 45px;
  width: 150px;
  height: 500px;
  overflow: scroll;
}

/** =================== **
        Editor
** =================== **/
.codeblock-container {
  border-radius: 5px;
  margin-bottom: 10px;
}
/** =================== **
    CodeBlock Console
** =================== **/
/*Structure*/
.codeblock-console-run {
    float: right;
    padding: 0 10px;
}

.codeblock-editor-wrapper {
    position: relative;
}
.codeblock-editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.codeblock-console-text {
    color: #66d9ef;
    display: inline-block;
    word-break: break-all;
}

.codeblock-reset {
    position: absolute;
    right: 20px;
    top: 3px;
    z-index: 1;
    opacity: .6;
    cursor: pointer;

    width: 12px;
    height: 12px;
    background: url("reset.png");
}

.codeblock-reset:hover {
    opacity: 1;
}

/*Style*/
.ace_editor {
    font-size: 1em !important;
}

.codeblock {
    white-space: pre;
}

.codeblock-container {
    /*border: 1px solid #AAA;*/
}

.codeblock-console {
    border-top: 1px solid #CCC;
    font-family: monospace;

    padding: 2px 2px 2px 8px;
    line-height: 28px;
    min-height: 26px;
}

.codeblock-console-run {
    background-color: #51A351;
    color: #FFF;
    border-radius: 2px;
    cursor: pointer;
}

.codeblock-console-run.disabled {
    background-color: #DDD;
    color: #000;
    cursor: not-allowed;
}

.codeblock-console-text.placeholder {
    color: #66d9ef;
}

#basic-codeblock-example { 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/** =================== **
       Screenshare
** =================== **/
.screenshare-container {
  margin: 30px;
  padding: 20px;
  border: 2px solid #66d9ef;
  width: 100%;
  height: 200px;
}
  