.mediaDiv {
  display: inline-block;
  border: 2px solid black;
  width: 250px;
  text-align: center;
  padding: 10px;
  overflow: hidden;
  background-color: pink;
  margin-right: 10%;
  /*position: relative;*/
}

.app {
  /*text-align: center;*/
}

#brace-editor {
  margin-left: 18.5%;
  float: left;
  display: inline-block;
  width: 500px;
}

h1.header {
  text-align: center;
}

.me {
  background-color: #DDDDDD;
}

.collaborator {
  background-color: #0000DD;
}